/* 自定义滚动条样式 */

::-webkit-scrollbar {
    width: 10px;
    height: 1px;
    display: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #535353;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #EDEDED;
}

body .el-message {
    font-size: 40px;
}

body .el-message p {
    font-size: 30px !important;
}

body .focus {
    border: 0.026042rem solid yellow !important;
    -webkit-box-shadow: 0 0.010417rem 0.15625rem yellow !important;
    box-shadow: 0 0.010417rem 0.15625rem yellow !important;
}